@import "../../variables.scss";

.player-controls {
    display: flex;
    flex-direction: roq;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.player-controls__track-information
{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-controls__track-control
{
    display: flex;
    justify-content: center;
    width: 25%;
}

.track-information__contributors 
{
    width: 100%;
}

.track-information__name
{
    width: 100%;
}
