@import '../../variables.scss';

.page__catalogs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.catalogs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    height: 75%;
    scrollbar-gutter: stable both-edges;
}

.catalog {
    width: 50%;
    border: 3px solid $ui-gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.catalog__header__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__header__artist {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0vh;
}

.catalog__name {
}

.catalog-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.catalog-item__information
{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

.catalog-item__information__contributors 
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.catalog__header {
    border-bottom: 3px solid $ui-gray;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
}

.catalog-item__information__name
{
    display: flex;
    justify-content: flex-start;
    //margin-left: 5%;
    width: 100%;
}