@import '../../variables.scss';

.beatList {
    min-height: 100%;
    max-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
}