@import '../../variables.scss';

.beatList {
    min-height: 72dvh;
    max-height: 72dvh;
    width: 100dvw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
    //border: 2px solid $ui-light;
}