@import '../../../variables.scss';

.beat-list-item {
    margin: 0px;
    padding: 1% 1%;

    min-height: 13.7%;
    max-height: 13.7%;
    width: 90%;

    //flex stuff
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-width: 0px;
    border-style: solid;
    border-top-width: 3px;
    border-color: $ui-gray;

    transition: border 100ms ease-out;

    font-size: 1em;
}

.beat-list-item:first-child {
    border-top-width: 0;
}

.beat-list-item:only-child {
    border-bottom-width: 3px;
}

.beat-list-item--playing {
    border-color: rgba(0, 255, 13, 0.682);
    animation: pulse 125ms ease-in;
}

.beat-list-item--playing + .beat-list-item {
    border-top-color: rgba(0, 255, 13, 0.682);
}

.beat-list-item--playing:hover {
    border-color: rgba(95, 255, 103, 0.682);
    animation: pulse 125ms ease-in;
}

.beat-list-item--playing:hover + .beat-list-item {
    border-color: rgba(95, 255, 103, 0.682);
    animation: pulse 125ms ease-in;
}

// .beat-list-item__marquee {
//     width: 25%;
//     min-height: 13.8%;
//     animation: scroll 2s linear 0s infinite forwards;
//     position: relative;
//     opacity: 0.7;
//     rotate: 45deg;
// }

@keyframes pulse {
    25% {
        border-color: rgba(95, 255, 103, 0.5);
    }

    75% {
        border-color: rgba(95, 255, 103, 0);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}