@import '../../../variables.scss';

.beatListItem {
    margin: 0px;
    padding: 1% 1%;

    width: 50%;

    //flex stuff
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $ui-gray;

    font-size: 1em;
}