@import '../../../variables.scss';

.beat-list-item {
    margin: 0px;
    padding: 1% 1%;

    min-height: 13.7%;
    width: 50%;

    //flex stuff
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 3px solid $ui-gray;
    transition: border 100ms ease-out;

    font-size: 1em;

    overflow: hidden;
}

.beat-list-item:hover {
    border-color: rgb(180, 180, 180);
}

.beat-list-item--playing {
    border-color: rgba(0, 255, 13, 0.682);
    animation: pulse 125ms ease-in;
}

.beat-list-item--playing:hover {
    border-color: rgba(95, 255, 103, 0.682);
    animation: pulse 125ms ease-in;
}

// .beat-list-item__marquee {
//     width: 25%;
//     min-height: 13.8%;
//     animation: scroll 2s linear 0s infinite forwards;
//     position: relative;
//     opacity: 0.7;
//     rotate: 45deg;
// }

@keyframes pulse {
    25% {
        border-color: rgba(95, 255, 103, 0.5);
    }

    75% {
        border-color: rgba(95, 255, 103, 0);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}