@import "../variables.scss";

.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.header {
    margin: 0px;
    padding: 0px;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlet {
    margin: 0px;
    padding: 0px;
    height: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $ui-gray;
    background-color: rgb(0, 0, 0);
}

.footer {
    margin: 0px;
    padding: 0px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}